<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>HieuThao's wedding</title>
    <meta name="description" content="Lễ cưới của Trung Hiếu và Minh Thảo, sweetwedding" />
    <meta name="keywords" content="sweetwedding, lễ cưới ngọt ngào, le cuoi ngot ngao, le cuoi, le cuoi cua Hieu va Thao, Trung Hiếu, Minh Thảo, Trung Hieu, Minh Thao" />
    <meta name="news_keywords" content="sweetwedding, lễ cưới ngọt ngào, le cuoi ngot ngao, le cuoi, le cuoi cua Hieu va Thao, Trung Hiếu, Minh Thảo, Trung Hieu, Minh Thao" />
    <meta name="copyright" content="hieuthao" />
    <meta name="author" content="hieuthao" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://sweetwedding.top" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <!-- Library CSS -->
    <link rel="stylesheet" href="static/css/library.css">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="static/fonts/themify-icons.css">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,400,600,700%7COpen+Sans:300,400,700%7CPlayfair+Display:400,400i,700,700i">
    <!-- Other Fonts -->
    <link rel="stylesheet" href="static/fonts/marsha/stylesheet.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179314422-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-179314422-1');
    </script>
</head>
<body class="gla_middle_titles">
    <div id="board"></div>
    <!-- Page -->
    <div class="gla_page" id="home">
        <%- include('../partials/header') %>
        <!-- Content -->
        <section class="gla_content">
            <%- include('../partials/ourstory') %>
            <%- include('../partials/savethedate') %>
            <%- include('../partials/weddingdetails') %>
            <%- include('../partials/sendyourwishes') %>
            <%- include('../partials/gallery') %>
            <%- include('../partials/footer') %>
        </section>
        <!-- Content End -->
    </div>
    <!-- Page End -->
    <!-- JQuery -->
    <script src="static/js/jquery-1.12.4.min.js"></script>
    <!-- Library JS -->
    <script src="static/js/library.js"></script>
    <!-- Theme JS -->
    <script src="static/js/script.js"></script>
    <script src="static/js/socket.io.js"></script>
</body>
</html>